.gallery-images {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 73%;
    overflow-y: scroll;
}

.gallery-images .record {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.gallery-images img {
    height: 200px;
    width: 355.56px;
    box-shadow: 2px 2px 5px gray;
    background: rgba(200, 200, 200, 0.6);
    padding: 10px;
}

.gallery-images figcaption.hidden {
    display: none;
    /* position: relative; */
    width: 355.56px;
    padding: 10px;
    margin-top: 10px;
    background: blue;
    color: white;
}

.gallery-images img:hover + figcaption.hidden {
    display: block;
}
