#access_game{
    opacity: 0.5;
    padding: 30px 5px;
    position: absolute;
    border: 2px solid white;
    background-color:rgb(206, 42, 24);
}

#access_game_text {
    text-align: center;
    display: block;
    color: white;
}

#access_game:hover {
    opacity: 1;
    outline: 5px dotted yellow;
}

#access_game:hover > #access_game_text {
    font-weight: bold;
}

#sandbag_distribution{
    width: 50%;
    float: right;
}

#distribution{
    display: flex;
}

.articleImage{
    width: 90%;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(116, 116, 116);
    background: #D6D7D6;
}

.imgOverlay{
    background-color: white;
    opacity: 0.85;
    font-size: 11px;
    width: 290px;
    height: 105px;
    margin:-185px 0 0 20px ;
    padding: 30px 10px;
    display: none;
}

.articleImage:hover + .imgOverlay, .articleImage:hover{
    display: block;
}