#close {
    float: right;
}

#close:hover {
    cursor: pointer;
}

.articleImage{
    width: 100%;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(116, 116, 116);
    background: #D6D7D6;
}

.imgOverlay{
    background-color: white;
    opacity: 0.85;
    display:none;
    font-size: 11px;
    padding: 10px 10px;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 0px;

}

.articleImage:hover + .imgOverlay, .imgOverlay:hover{
    display:block;
}

.container {
    position: relative;
    width: 90%;
  }