#exit_button {
    position: absolute;
    opacity: 0.75;
    background-color: rgb(206, 42, 24);
    right: 20px;
    top: 20px;
  }

#exit_button:hover {
    opacity: 1;
}

#cert {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 5px rgba(20, 20, 20, 0.3);
}

#recipient, #date {
  position: absolute;
}

#recipient {
  left: 40%;
  top: 52%;
  font-size: 2em;
}

#date {
  left: 16%;
  top: 64%;
}