.db-queries {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.db-queries li {
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(77, 61, 15);
    border: 1px solid rgba(77, 61, 15, 0.4);
}

.db-queries li:hover {
    background: rgba(77, 61, 15, 0.4);
    color: white;
    cursor: pointer;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 73%;
    overflow-y: scroll;
}
