.db-queries {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.db-queries li {
    padding: 5px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgb(77, 61, 15);
    border: 1px solid rgba(77, 61, 15, 0.4);
}

.db-queries li:hover {
    background: rgba(77, 61, 15, 0.6);
    color: white;
    cursor: pointer;
}

.db-queries li.selected {
    background: rgba(54, 42, 10, 0.8);
    color: white;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 70%;
    overflow-y: scroll;
}
