#username-entry {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#enterName{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

#enterName input{
    background-color: #e7ebec;
    border:none;
    float: left;
    margin-top: 5%;
    font-size: 20px;
    border-bottom: 5px solid black;
    width: 100%;
    text-align: center;
}

.nameInput{
    margin-top: 40%;
}

#enterName button{
    margin-top: 4%;
    width: 100%;

}

.p1{
    font-size: 22px;
    border-bottom: 5px solid black;
    margin-top: 7%;
    width: 100%;
    text-align: center;
}

.introMessage{
    font-size: 85%;
}

.nameInput{
    font-size: 15px;;
}

#leftpage{
    display: flex;
    justify-content: center;
}