/*#win {

}*/

#get_cert{
  display: block;
  width: 400px;
  height: 50px;
  border: blue solid;
  background-color: turquoise;
  color: black;
}

#papers-not-found img {
  max-width: 120px;
  max-height: 120px;
  margin: 10px;
}

#papers-not-found.papersFound {
  display: none;

}

#quiz-form.papersFound {
  display: initial;
}

#quiz-form {
  display: none;
}

#rightpage {
  overflow-y: auto;
}