/* Default overrides: Should ensure better browser compatibility */
* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

p {
    margin-top: 10px;
    margin-bottom: 15px;
}

body {
    background-image: url("/images/desk-background.jpg");
    background-color: #b38050;
    background-size: cover;
    margin: 0;
}

/*Bookmark bar*/
nav {
    width: 70vw;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: auto;
    position:absolute;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    overflow: visible; /* So the box shodows for the sticky notes do not get cut off */
}

nav li {
    display: block;
    float: left;
    box-shadow: 1px -3px 4px #333;
    z-index: 0;
}

nav li a {
    display: block;
    flex-grow: 1;
    color: #333;
    text-align: center;
    min-width: 80px;
    padding: 14px 16px;
    text-decoration: none;
    border: black;
    border-width: 2px;
    background-color:rgb(221, 236, 0);

}

nav li a:hover, .active {
    background-color: red;
    color:white;
    padding-bottom: 24px;
}

nav li a:hover{
    margin-top: -7%;
}

.active{
    margin-top: -10%;
    padding-bottom: 30px;
}

.active:hover{
    margin-top: -15%;
    padding-bottom: 33px;
}

/* The book and everything inside it */
#book-container {
    position: static; /* Needed so that the footer can appear below this section */
    height: 44.15vw;
    font-size: 15px;
    padding: 6% 0 5% 0;
}

#book {
    display: block;
    position: absolute;
    width: 70vw;
    height: 44.15vw; /* Book image aspect ratio x 75vw */
    left: 15%; /* (100 - width) / 2 */
    box-shadow: 0 10px 15px 0 #333;
}

#book-bg {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

  #pages {
    display: flex;
    height: 100%;
    width: 100%;
}

#pages.spread {
    display: inline-block;
}

#pages > #leftpage,#rightpage,#pagespread {
    padding-top: 3%;
    padding-bottom: 3%;
}

#pages > #leftpage,#rightpage {
    flex: 50%;
    max-width: 42%;
}

#leftpage {
    padding-left: 5%;
    padding-right: 3%;
}

#rightpage {
    padding-left: 5%;
    padding-right: 5%;
}

#pagespread {
    display: inline-block;
    height: 94%;
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
}

/* Navigation buttons */
#pages button {
    display: block;
    background-color: rgb(212, 219, 226);
    border-radius: 5px;
    border: 0;
    padding: 10px;
    width: 90px;
    box-shadow: 2px 2px 5px grey;
}

#pages button:hover{
    cursor: pointer;
    background-color: rgb(185, 197, 209);

}

#button-prev {
    position: absolute;
    left: 4%;
    bottom: 4%;
}

#button-next {
    position: absolute;
    right: 4%;
    bottom: 4%;
}

figcaption{
    font-size: 80%;
}

/* Footer */

mark{
    cursor: help;
}

footer {
    position: fixed;
    width: 100vw;
    height: 45px;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0), black);

    color: white;
}

footer > * {
    padding: 0.5% 5% 0% 5%;
    color:white;
}

footer a {
    color:rgb(221, 236, 0);
}