h1, h2, p, a, figcaption {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 {
  margin: 0;
}

body {
    /*background-image: url("images/grass.png");*/
    background-color: skyblue;
}

/*Book mark bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #aaaaaa; /*  FOR DEBUGGING */
    display: flex;
    justify-content: space-around;
}

nav li {
  float: left;
}

nav li a {
    display: block;
    flex-grow: 1;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: black;
    border-width: 2px;
    background-color:rgb(221, 236, 0);
}

nav li a:hover {
    background-color: red;
    color:white;
}

nav .active {
    background-color: #04AA6D;
}

/* The book, and everything inside it */
#book-container {
    position: static; /* Needed so that the footer can appear below this section */
    height: 56.76vw;
    font-size: 19px;
}

#book {
    display: block;
    position: absolute;
    width: 90vw;
    height: 56.76vw;
    left: 5%;
    box-shadow: 0 10px 15px 0 #333;
}

#book-bg {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

  #pages {
    display: flex;
    height: 100%;
    width: 100%;
}

#pages.spread {
    display: inline-block;
}

#pages > #leftpage,#rightpage,#pagespread {
    padding-top: 3%;
    padding-bottom: 3%;
}

#pages > #leftpage,#rightpage {
    flex: 50%;
    /* border: 1px solid #aaa; FOR DEBUGGING */
}

#leftpage {
    padding-left: 4%;
    padding-right: 2%;
}

#rightpage {
    padding-left: 2%;
    padding-right: 4%;
}

#pagespread {
    display: inline-block;
    height: 94%;
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
}

/* Navigation buttons */

#pages button {
    display: block;
}

#button-prev {
    position: absolute;
    left: 4%;
    bottom: 4%;
}

#button-next {
    position: absolute;
    right: 4%;
    bottom: 4%;
}

/* Footer */
footer {
    height: 50px;
}